$teal: #009999;
$teal-dark: #008080;
$teal-light: hsla(180, 100%, 30%, 0.6);
$teal-grey: hsla(180, 100%, 30%, 0.3);

$charcoal: #333333;
$charcoal-light: hsla(0, 0%, 20%, 0.1);

$white-off: #f2f2f2;

body {
	padding: 0;
	background: $charcoal-light;
}

.header {
	.navbar {
		background: $teal;
	}

	h1 {
		color: $white-off;
	}
}

.post {
	background-color: $teal-light;

	.body {
		padding-top: 10px;
	}
}

.main {
	padding-top: 6em;
}

.background {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login {
	background-color: $teal-grey;
  	margin: auto;
  	position: relative;
  	z-index: 1;
  	max-width: 360px;
  	margin: 0 auto 100px;
  	padding: 45px;
  	text-align: center;
  	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  	.h1 {
  		text-align: center;
  	}
  	input {
  		margin: 0 0 15px;
  		width: 100%
  	}		
  	.submit {
		padding: 0.4em 1.3em;
		border: .5px solid $charcoal;
		background: white;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;	
  	}
  	button {
  		width: 100%
  	}
  	p {
  	font-size: 12px;
  	}
}